#Replace password with the MongoDB password, make a request for the password
MONGO_URI=mongodb+srv://admin:<Password>@cluster0.xanvn0n.mongodb.net/?appName=Cluster0
PORT=2222
JWT_SECRET=mysupersecretkey
